@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$accent-color: #FF013E;
$second-accent-color: #FF013E;
$bg-color: #000;
$main-color: #fefefe;

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $bg-color;
    color: $main-color;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    min-height: 100vh;
    padding: 0 60px;
    padding-top: 95px;
    width: 100vw;
    max-width: 1440px;
}

h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}

.square-block {
    text-align: center;
    padding: 30px 20px;
    background: rgb(40,43,44);
    background: linear-gradient(127deg, rgba(40,43,44,.5) 0%, rgba(13,17,18,.5) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(66, 61, 61, 0.28);

    h3 {
        font-weight: bold;
        font-size: 20px;
        color: $accent-color;
        margin: 10px 0;
    }
}

@media screen and (max-width: 1020px) {
    .container {
        padding: 0 5px;
        padding-top: 55px;
    }
    body { 
        text-align: center;
    }
}